{% extends 'base.html' %}
{% block title %}Species List{% endblock %}

{% block content %}
{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}
<h1 class="text-center">All Fish Species</h1>
<div class="container half-width-container">
<table class="table table-light table-striped table-hover table-md- align-middle">
    <thead class="table-dark">
        <tr>
            <th scope="col" class="text-center">Species Name</th>
            <th scope="col" class="text-center">Master Angler Length</th>
        </tr>
    </thead>
    <tbody>
        {% for species in species_list %}
        <tr>
            <td class="text-center">{{species.name}}</td>
            <td class="text-center">{{species.master_angler_length}} in.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}