{% extends 'base.html' %}
{% block title %}Lakes List{% endblock %}

{% block content %}
{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}
<div class="center-page-div">
<div id="lake-header">
<h1 class="text-center">All Lakes  <span><a class="btn btn-success" href="{{url_for('lake.add_lake')}}">Add New Lake</a></span></h1>
<h4 class="text-center">Click on lake name for weather forecast</h4>
<form class="d-flex" role="search"  action="{{url_for('lake.search_lakes')}}">
    <input class="form-control me-2" type="search" placeholder="Search" name='search' aria-label="Search">
    <button class="btn btn-outline-info" id="lakeSearch" type="submit">Search</button>
  </form>
</div>
<div class="container half-width-container">
<table class="table table-light table-striped table-hover table-md- align-middle">
    <thead class="table-dark">
        <tr>
            <th scope="col" class="text-center">Lake Name</th>
            <th scope="col" class="text-center">Closest Town</th>
            <th scope="col" class="text-center">State</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for lake in lakes %}
        <tr>
            <td class="text-center"><a href="{{url_for('lake.view_forecast', lake_id = lake.id)}}">{{lake.name}}</a></td>
            <td class="text-center">{{lake.closest_town}}</td>
            <td class="text-center">{{lake.state}}</td>
            <td>
                <div class="d-flex justify-content-center">
                <form  action="{{url_for('lake.edit_lake', lake_id=lake.id)}}">
                    <button class="btn btn-secondary edit-btn" ><i class="fa-solid fa-pencil"></i></button>
                </form>
                <form method="POST" action="{{url_for('lake.delete_lake', lake_id=lake.id)}}" >
                    <button class="btn btn-danger delete-btn"><i class="fa-regular fa-trash-can"></i></button>
                </form>
            </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}